<html>
  <head>
    title= "Pastebin"
    <meta charset="UTF-8">
    style 
      include style.css
  </head>
  <body>
    <h1 style="text-align: center;">Full Stack Project</h1>
    <h1 style="text-align: center;">Pastebin</h1><br>
    <form>
        <label for = "pasteTitle">Enter Title:</label><br>
        <input name="pasteTitle" id = "pasteTitle" type="text"><br><br>
        <label for = "pasteInput">Enter Input:</label><br>
        <textarea rows="12" cols="70" spellcheck="false" name = "pasteInput" id="pasteInput"></textarea><br><br>
        <button onclick= "sendData(); location.reload();">Submit</button>
    </form>

    <table>
      <tr>
        <thead>
          <th>Id</th>
          <th>Title</th>
          <th>Input</th>
          <th>Created at</th>
          <th>Delete</th>
        </thead>
        <tbody id = "tableBody">
        </tbody>
      </tr>
    </table>
    <br><br><br>

    script 
        include script.js
  </body>
</html>